body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0; /* Arrière-plan général */
}

h1, h2 {
    color: #5E7C5E; /* Couleur des titres pour correspondre à votre thème mobile */
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

input[type=text], input[type=number], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #CCC;
}

button {
    background-color: #5E7C5E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

ul#products-list {
    list-style-type: none;
    padding: 0;
}

ul#products-list li {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

ul#products-list img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
